.project-card__img {
    display: block;
    inline-size: 328px;
    block-size: auto;
    
    margin-block-start: 40px;
    margin-block-end: 40px;
    margin-inline-start: auto;
    margin-inline-end: auto;
}

@media only screen and (min-width: 1400px) {
    .project-card__img {
        inline-size: 652px;
        block-size: auto;
    }
}