@import './header__navbar.css';
@import './header__link.css';
@import './header__button.css';

.header {
    position: sticky;
    z-index: 12;
    top: 0;
    
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
}

.header-container {
    block-size: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    inline-size: 69px;
    block-size: 19.5px;
}

@media only screen and (min-width: 768px) {
    .header-container {
        justify-content: flex-start;
        gap: 128px;
    }   
}

@media only screen and (min-width: 1400px) {
    .header {
        position: relative;
        backdrop-filter: blur(0px);
        -webkit-backdrop-filter: blur(0px);
        -moz-backdrop-filter: blur(0px);

        gap: 128px;
    }
}