.comment__description {
    margin: 0;
    font: 24px/38.83px var(--font-base);
}

@media only screen and (min-width: 1400px) {
    .comment__description {
        font: 300 34px/55px 'Oxygen', sans-serif;
    }
}